.MuiPaper-root {
  background-color: #F5F0EB !important;
  border-radius: 0% !important;
}

.MuiPaper-elevation1 {
  box-shadow: 0 8px 6px -6px #fcfaf9 !important;
}

.MuiAccordion-root:before {
  height: 0 !important;
}