.form-input {
  border-bottom: 1px solid black;
  background: transparent;
  width: 60%;
  @apply font-light;
}

.form-input::placeholder {
  color: black;
  @apply font-extralight;
}

.form-label {
  @apply w-full flex flex-row justify-between my-6 uppercase font-light;
}

iframe {
  width: 100% !important;
  height: 850px;
}

@media only screen and (min-width: 852px) {
  iframe {
    height: 750px !important;
  }
}
